<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Test</title>
  </head>

  <body>
    <%# hashes: %>

    <% foo = { :bar => 'baz', :one => { :two => 'three', :four => 'five' }, :five => 'six' } %>
    <% foo = { bar: 'baz', :one => { :two => 'three', :four => 'five' }, :five => 'six' } %>
    <% foo = { bar: 'baz', one_two: :three } %>

    <span><%= foo 1, 2, :one => 1, :two => 2, :three => 'three' %></span>
    <%= link_to 'Google', 'http://google.com', :class => 'google', :id => 'google-link' %>
    <%= link_to 'Google', 'http://google.com', :class => 'google', :id => 'google-link' -%>
    <%= link_to 'http://google.com', :class => 'google', :id => 'google-link' do %>
      <span>Google</span>
    <% end %>

    <%= link_to('Google', 'http://google.com', :class => 'google', :id => 'google-link') %>
    <%= link_to('http://google.com', :class => 'google', :id => 'google-link') do %>
      <span>Google</span>
    <% end %>

    <%# if/unless: %>

    <%= foo unless bar? %>
    <% foo = 42 if bar? %>
    <%= link_to 'Google', 'http://google.com', :class => 'google' if show_google? %>
    <span><%= foo if bar? %></span>

    <%# html tags: %>
    <div class="foo">bar</div>
  </body>
</html>
